/* ESTILO GERAL */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&family=Patua+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patua One', serif;
    font-weight: lighter;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    background-color: #fff29e;
    background-image: url(imgs/background-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 80px;
}


/* HEADER */
.interface-header {
    width: 100%;
    height: 100px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff29e;
    padding: 0 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 80px;
}

.menu {
    display: flex;
    gap: 40px;
    font-size: 25px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #af4c0f;
    transition: .2s;
}

a:hover {
    color: #ff914e;
    transform: scale(1.05);
}

.btn-contato {
    text-decoration: none;
    color: #fff29e;
    font-size: 25px;
    font-weight: 700;
    padding: 10px 40px;
    background-color: #ff914e;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-contato:hover {
    box-shadow: 0px 0px 8px #ff914e;
    color: white;
}

/* MENU MOBILE */
.btn-abrir-menu {
    display: none;
    color: #af4c0f;
    font-size: 40px;
}

.menu-mobile {
    background-color: #fff29e;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
    color: #af4c0f;
    font-size: 30px;
}

.menu-mobile nav a {
    color: #8b390a;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav a:hover {
    background-color: #ff914e;
    color: #fff29e;
}

.overlay-menu {
    background-color: #000000a7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/* INÍCIO */
h1 {
    font-size: 80px;
    color: #8b390a;
    font-family: 'Patua one';
    font-weight: lighter;
}

.apresentacao {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 60px 4%;
    height: calc(100vh - 100px);
}

.avatar-container {
    position: relative;
    width: 400px;
    height: 400px;
}

.avatar-container img {
    position: relative;
    z-index: 2;
    width: 100%;
    border-radius: 50%;
}

.shape {
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.shape1 {
    opacity: 60%;
    width: 450px;
    height: 450px;
    background-color: #ff914e;
    top: -20px;
    left: -30px;
    border-radius: 60% 40% 70% 30% / 50% 60% 40% 50%;
}

.shape2 {
    opacity: 70%;
    width: 300px;
    height: 300px;
    background-color: #af4c0f;
    bottom: -10px;
    right: -20px;
    border-radius: 70% 30% 50% 50% / 40% 60% 40% 60%;
}

.flutuar {
    animation: flutuar 3s ease-in-out infinite;
}

@keyframes flutuar {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

/* SOBRE */
section {
    padding: 80px 4%;
}

.sobre {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-evenly;
}

.foto-perfil {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    transition: transform 0.3s, box-shadow 0.3s
}
.foto-perfil:hover{
    transform: scale(1.1);
    box-shadow: 12px 12px 12px #8b390a;
}

h2 {
    font-size: 40px;
    color: #8b390a;
    text-align: center;
    margin-bottom: 30px;
}

p {
    font-family: 'Poppins', 'sans serif';
    font-size: 25px;
    color: #8b390a;
    max-width: 600px;
    font-weight: 400;
}

.texto-sobre p {
    text-align: justify;
}

/* PROJETOS */
.projetos {
    width: 100%;
    text-align: center;
}

.projetos .cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card {
    height: 50vh;
    border-radius: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    flex: 1 1 350px;
    max-width: 450px;
}

.card p {
    font-family:  'Patua one';
    color:#ff914e;
    text-shadow: 2px 2px 4px black;
}        


.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    background-color: #fff;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay:hover {
    opacity: 1;
}

.card:hover img {
    transform: scale(1.1);
    filter: blur(2px);
}

/* CERTIFICADOS */
.certificados {
    text-align: center;
}

.carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.lista-certificados {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    scrollbar-width: none;
   -ms-overflow-style: none;
    transition: transform 0.5s ease-in-out;
}
.lista-certificados::-webkit-scrollbar {
    display: none;
}


.cert {
    border-radius: 20px;
    padding: 15px;
    width: 250px;
    flex-shrink: 0;
    text-align: center;
}

.cert img {
    margin-bottom: 15px;
    width: 100%;
    height: 150px;
    object-fit: cover;
    background-color: #fff;
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.cert img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.btn-esquerda, .btn-direita {
    background-color: #ff914e;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.btn-esquerda:hover, .btn-direita:hover {
    background-color: #ff7a1e;
    transform: scale(1.1);
}

.aviso{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
/* HABILIDADES */
.habilidades {
    text-align: center;
}

.skills p {
    font-weight: 500;
}

.skills {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 100%;
    justify-content: space-evenly;
    padding: 20px;

}

.skill img {
    width: 200px;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
    transition: transform 0.3s;
}

.skill img:hover {
    transform: scale(1.1);
}

/* CONTATO E FOOTER */
.contato {
    position: relative;
    padding-bottom: 100px; 
}
.talkwithme {
    text-align: center;
}

.contato h2 {
    font-size: 50px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.icons a img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    transition: transform 0.3s;
}

.icons a img:hover {
    transform: scale(1.1);
}

footer {
    color: #8b390a;
    text-align: center;
    padding: 40px 4%;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer p {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 1024px) {
    section {
        padding: 80px 8%;
    }
    
    .menu {
        display: none;
    }

    .btn-abrir-menu {
        display: block;
    }

    .apresentacao {
        flex-direction: column-reverse;
        text-align: center;
        height: calc(100vh - 100px);
        padding: 0 8%;
        justify-content: center;
        gap: 20px;
    }

    h1 {
        font-size: 50px;
    }

    .avatar-container {
        width: 300px;
        height: 300px;
        margin-bottom: 30px;
    }

    .shape1 {
        width: 350px;
        height: 350px;
    }

    .shape2 {
        width: 250px;
        height: 250px;
    }

    .sobre {
        flex-direction: column;
        text-align: center;
        height: auto;
    }
    .texto-sobre p {
        max-width: 100%;
    }

    .foto-perfil {
        width: 300px;
        height: 300px;
    }

    .projetos {
        height: auto;
    }
    .card {
        width: 80vw;
        height: 40vh;
    }

    .habilidades {
        height: auto;
    }
    .skill img {
        width: 150px;
    }

    .contato {
        height: auto;
    }
    .icons a img {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 20px;
    }
    .avatar-container {
        width: 250px;
        height: 250px;
    }

    .shape1 {
        width: 300px;
        height: 300px;
    }

    .shape2 {
        width: 200px;
        height: 200px;
    }
    .foto-perfil {
        width: 250px;
        height: 250px;
    }
    .skill img {
        width: 120px;
    }
    .icons a img {
        width: 60px;
        height: 60px;
    }
}
